Django
django-cors-headers
django-ratelimit
django-redis
djangorestframework
djangorestframework-jwt
django-filter
django-grip
gunicorn
whitenoise
sqlalchemy
mysqlclient
drf_yasg
supervisor
gevent
zope.event
PyJWT==2.8.0
opencc-python-reimplemented